.navbar {
	text-align: center; 
}

nav .container-fluid {
	display: inline-block; 
}

#tasks {
	border: 1px solid aqua;
	margin-top: 20px;
}

.checkbox i {
	display: none;
}
 
.checkbox {
	padding-bottom: 10px;
    border-bottom: 1px solid aqua;
}

.checkbox:last-child {
     border-bottom: none;
}

.checkbox:hover i {
	display: inline;
}

.checkbox.completed label {
	text-decoration: line-through;
	color: #ddd;
}

.panel-default {
	margin-top: 30px;
}

